<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <form action="/" class="form-signin" method="post">
    <input id="cityInput" class="form-control bottom" type="text" name="cityName" placeholder="City Name"  required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Go!</button>
      <p class="mt-5 mb-3 text-muted">&copy; Deepshikha</p>
    </form>
</body>
</html>